In [12]:
import pandas as pd
import numpy as np
from pathlib import Path

from worldbank_data import DataWrangler

In [13]:
data_wrangler = DataWrangler()
source_spreadsheet = '68fd98a4-a721-4a4b-ba8b-4fa738699aa2_Data.csv'
mapping_filename = 'country_metadata.csv'
df = data_wrangler.load_raw_data_from_excel(source_spreadsheet)
df.head(20)

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Afghanistan,AFG,"Population, female",SP.POP.TOTL.FE.IN,4347394,4439156,4535392,4636170,4741527,4851553,...,14702050,15196504,15715314,16232001,16727437,17196034,17644126,18078879,18512030,18952076
1,Afghanistan,AFG,"Population, male",SP.POP.TOTL.MA.IN,4649573,4730250,4816050,4907030,5003245,5104765,...,15415361,15964874,16554278,17138803,17686166,18186994,18651985,19093043,19529727,19976265
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996967,9169406,9351442,9543200,9744772,9956318,...,30117411,31161378,32269592,33370804,34413603,35383028,36296111,37171922,38041757,38928341
3,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,537777811.111111,548888895.555556,546666677.777778,751111191.111111,800000044.444444,1006666637.77778,...,17804292964.1045,20001598505.7042,20561069558.2152,20484885119.7348,19907111418.9938,18017749073.6362,18869945678.4215,18353881129.5246,19291104007.6135,19807067268.1084
4,Afghanistan,AFG,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,33.314,33.84,34.359,34.866,35.364,35.853,...,63,63.514,63.999,64.453,64.877,65.275,65.656,66.026,66.388,..
5,Afghanistan,AFG,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,31.718,32.224,32.724,33.216,33.7,34.18,...,60.19,60.675,61.133,61.563,61.965,62.343,62.701,63.047,63.382,..
6,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,32.446,32.962,33.471,33.971,34.463,34.948,...,61.553,62.054,62.525,62.966,63.377,63.763,64.13,64.486,64.833,..
7,Afghanistan,AFG,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,..,..,..,..,..,..,...,50.85347366,51.44026184,55.03462982,59.00893402,58.90652847,60.18867111,65.70602417,49.84260941,..,..
8,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.7732337032148,59.8608999923829,58.4580086983139,78.7064287776753,82.0953065340517,101.108325163758,...,591.162798293135,641.871437960934,637.165463951798,613.856505217398,578.466352941708,509.220100485356,519.888912573073,493.756581366026,507.103391875763,508.808409485223
9,Albania,ALB,"Population, female",SP.POP.TOTL.FE.IN,781769,806619,831763,856833,881990,906689,...,1438949,1433116,1426832,1420670,1414246,1410814,1409327,1406333,1401011,1393417
10,Albania,ALB,"Population, male",SP.POP.TOTL.MA.IN,827031,853181,879556,905788,932145,958102,...,1466246,1467285,1468260,1468434,1466457,1465287,1464130,1460043,1453180,1444326
11,Albania,ALB,"Population, total",SP.POP.TOTL,1608800,1659800,1711319,1762621,1814135,1864791,...,2905195,2900401,2895092,2889104,2880703,2876101,2873457,2866376,2854191,2837743
12,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,..,..,..,..,..,..,...,12890765324.2256,12319830252.4768,12776217194.7928,13228144008.3428,11386846319.1589,11861200797.4706,13019693450.8816,15147020535.3869,15286612572.6895,14799615097.1008
13,Albania,ALB,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,63.247,64.325,65.261,66.017,66.585,66.987,...,79.554,79.77,79.934,80.045,80.107,80.134,80.148,80.167,80.201,..
14,Albania,ALB,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,61.309,62.272,63.117,63.811,64.346,64.723,...,74.552,74.966,75.364,75.734,76.066,76.353,76.601,76.816,77.002,..
15,Albania,ALB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,62.283,63.301,64.19,64.914,65.463,65.85,...,76.914,77.252,77.554,77.813,78.025,78.194,78.333,78.458,78.573,..
16,Albania,ALB,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,..,..,..,..,..,..,...,211.07551575,213.71974182,236.95796204,251.35826111,192.88513184,202.01332092,226.28067017,274.91409302,..,..
17,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,..,..,..,..,..,..,...,4437.14288515077,4247.62998374252,4413.06086120676,4578.6319939825,3952.80121524465,4124.05572595352,4531.02080555986,5284.38018438156,5355.84779459031,5215.27675237003
18,Algeria,DZA,"Population, female",SP.POP.TOTL.FE.IN,5499822,5640481,5784350,5933118,6089191,6254192,...,18155827,18512336,18884019,19268759,19664129,20069497,20482418,20896422,21303388,21697235
19,Algeria,DZA,"Population, male",SP.POP.TOTL.MA.IN,5558042,5695855,5835478,5979682,6132484,6296688,...,18505611,18871563,19256116,19654929,20063891,20481901,20906756,21331993,21749666,22153808

In [14]:
df = data_wrangler.unpivot_data(df)
df.head(20)

,Country Name,Country Code,Series Name,Series Code,Year,Metric
0,Afghanistan,AFG,"Population, female",SP.POP.TOTL.FE.IN,1960 [YR1960],4347394
1,Afghanistan,AFG,"Population, male",SP.POP.TOTL.MA.IN,1960 [YR1960],4649573
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,1960 [YR1960],8996967
3,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1960 [YR1960],537777811.111111
4,Afghanistan,AFG,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,1960 [YR1960],33.314
5,Afghanistan,AFG,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,1960 [YR1960],31.718
6,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960 [YR1960],32.446
7,Afghanistan,AFG,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,1960 [YR1960],..
8,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,1960 [YR1960],59.7732337032148
9,Albania,ALB,"Population, female",SP.POP.TOTL.FE.IN,1960 [YR1960],781769
10,Albania,ALB,"Population, male",SP.POP.TOTL.MA.IN,1960 [YR1960],827031
11,Albania,ALB,"Population, total",SP.POP.TOTL,1960 [YR1960],1608800
12,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,1960 [YR1960],..
13,Albania,ALB,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,1960 [YR1960],63.247
14,Albania,ALB,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,1960 [YR1960],61.309
15,Albania,ALB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960 [YR1960],62.283
16,Albania,ALB,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,1960 [YR1960],..
17,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,1960 [YR1960],..
18,Algeria,DZA,"Population, female",SP.POP.TOTL.FE.IN,1960 [YR1960],5499822
19,Algeria,DZA,"Population, male",SP.POP.TOTL.MA.IN,1960 [YR1960],5558042

In [15]:
df = data_wrangler.clean_years(df)
df

,Country Name,Country Code,Series Name,Series Code,Year,Metric
0,Afghanistan,AFG,"Population, female",SP.POP.TOTL.FE.IN,1960,4347394
1,Afghanistan,AFG,"Population, male",SP.POP.TOTL.MA.IN,1960,4649573
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,1960,8996967
3,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1960,537777811.111111
4,Afghanistan,AFG,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,1960,33.314
...,...,...,...,...,...,...
146029,World,WLD,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,2020,..
146030,World,WLD,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,2020,..
146031,World,WLD,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2020,..
146032,World,WLD,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,2020,..
146033,World,WLD,GDP per capita (current US$),NY.GDP.PCAP.CD,2020,10909.2870463763

In [16]:
df = data_wrangler.assign_nan_empty_metrics(df)
# df['Metric'] = df['Metric'].replace('..', np.nan)

In [17]:
# df.loc[(df['Country Name']== 'American Samoa') & (df['Series Name'] == 'Population, female')]
df.loc[(df['Country Name']== 'Afghanistan') & (df['Series Name'] == 'GDP (current US$)')].head(50)

,Country Name,Country Code,Series Name,Series Code,Year,Metric
3,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1960,537777811.111111
2397,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1961,548888895.555556
4791,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1962,546666677.777778
7185,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1963,751111191.111111
9579,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1964,800000044.444444
11973,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1965,1006666637.77778
14367,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1966,1399999966.66667
16761,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1967,1673333417.77778
19155,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1968,1373333366.66667
21549,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1969,1408888922.22222
23943,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1970,1748886595.55556
26337,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1971,1831108971.11111
28731,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1972,1595555475.55556
31125,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1973,1733333264.44444
33519,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1974,2155555497.77778
35913,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1975,2366666615.55556
38307,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1976,2555555566.66667
40701,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1977,2953333417.77778
43095,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1978,3300000108.88889
45489,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1979,3697940409.61098
47883,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1980,3641723321.99546
50277,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1981,3478787909.09091
52671,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1982,NaN
55065,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1983,NaN
57459,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1984,NaN
59853,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1985,NaN
62247,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1986,NaN
64641,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1987,NaN
67035,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1988,NaN
69429,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1989,NaN
71823,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1990,NaN
74217,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1991,NaN
76611,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1992,NaN
79005,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1993,NaN
81399,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1994,NaN
83793,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1995,NaN
86187,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1996,NaN
88581,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1997,NaN
90975,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1998,NaN
93369,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1999,NaN
95763,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2000,NaN
98157,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2001,NaN
100551,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2002,4055179566.34981
102945,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2003,4515558808.10994
105339,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2004,5226778808.89209
107733,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2005,6209137624.77181
110127,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2006,6971285594.68013
112521,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2007,9747879531.86311
114915,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2008,10109225813.6696
117309,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2009,12439087076.7667

In [18]:
df = data_wrangler.fill_empty_cells(df)
# df['Metric'] = df.groupby(['Country Name', 'Series Name'])['Metric'].ffill()
df.loc[(df['Country Name']== 'Afghanistan') & (df['Series Name'] == 'GDP (current US$)')].head(50)

,Country Name,Country Code,Series Name,Series Code,Year,Metric
3,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1960,537777811.111111
2397,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1961,548888895.555556
4791,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1962,546666677.777778
7185,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1963,751111191.111111
9579,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1964,800000044.444444
11973,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1965,1006666637.77778
14367,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1966,1399999966.66667
16761,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1967,1673333417.77778
19155,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1968,1373333366.66667
21549,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1969,1408888922.22222
23943,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1970,1748886595.55556
26337,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1971,1831108971.11111
28731,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1972,1595555475.55556
31125,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1973,1733333264.44444
33519,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1974,2155555497.77778
35913,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1975,2366666615.55556
38307,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1976,2555555566.66667
40701,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1977,2953333417.77778
43095,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1978,3300000108.88889
45489,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1979,3697940409.61098
47883,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1980,3641723321.99546
50277,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1981,3478787909.09091
52671,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1982,3478787909.09091
55065,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1983,3478787909.09091
57459,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1984,3478787909.09091
59853,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1985,3478787909.09091
62247,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1986,3478787909.09091
64641,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1987,3478787909.09091
67035,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1988,3478787909.09091
69429,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1989,3478787909.09091
71823,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1990,3478787909.09091
74217,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1991,3478787909.09091
76611,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1992,3478787909.09091
79005,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1993,3478787909.09091
81399,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1994,3478787909.09091
83793,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1995,3478787909.09091
86187,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1996,3478787909.09091
88581,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1997,3478787909.09091
90975,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1998,3478787909.09091
93369,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1999,3478787909.09091
95763,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2000,3478787909.09091
98157,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2001,3478787909.09091
100551,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2002,4055179566.34981
102945,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2003,4515558808.10994
105339,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2004,5226778808.89209
107733,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2005,6209137624.77181
110127,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2006,6971285594.68013
112521,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2007,9747879531.86311
114915,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2008,10109225813.6696
117309,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2009,12439087076.7667

In [19]:
df = df.pivot(index=["Country Name", "Country Code", "Year"], columns="Series Name", values="Metric").reset_index()
df

Series Name,Country Name,Country Code,Year,Current health expenditure per capita (current US$),GDP (current US$),GDP per capita (current US$),"Life expectancy at birth, female (years)","Life expectancy at birth, male (years)","Life expectancy at birth, total (years)","Population, female","Population, male","Population, total"
0,Afghanistan,AFG,1960,NaN,537777811.111111,59.7732337032148,33.314,31.718,32.446,4347394,4649573,8996967
1,Afghanistan,AFG,1961,NaN,548888895.555556,59.8608999923829,33.84,32.224,32.962,4439156,4730250,9169406
2,Afghanistan,AFG,1962,NaN,546666677.777778,58.4580086983139,34.359,32.724,33.471,4535392,4816050,9351442
3,Afghanistan,AFG,1963,NaN,751111191.111111,78.7064287776753,34.866,33.216,33.971,4636170,4907030,9543200
4,Afghanistan,AFG,1964,NaN,800000044.444444,82.0953065340517,35.364,33.7,34.463,4741527,5003245,9744772
...,...,...,...,...,...,...,...,...,...,...,...,...
16221,Zimbabwe,ZWE,2016,113.40885925,20548678100,1464.58895715841,61.719,58.565,60.294,7356132,6674206,14030338
16222,Zimbabwe,ZWE,2017,112.74193573,19015327919.1087,1335.66506432532,62.22,59.105,60.812,7459545,6777054,14236599
16223,Zimbabwe,ZWE,2018,140.3203125,19523622341.6133,1352.16265310562,62.598,59.501,61.195,7559693,6879119,14438812
16224,Zimbabwe,ZWE,2019,140.3203125,16932434838.6928,1156.15486360139,62.899,59.798,61.49,7662120,6983353,14645473
16225,Zimbabwe,ZWE,2020,140.3203125,16768513442.6415,1128.21071129808,62.899,59.798,61.49,7770917,7092010,14862927

In [20]:
df = data_wrangler.load_and_apply_mapping(df, mapping_filename)
df

,Country Name,Country Code,Year,Current health expenditure per capita (current US$),GDP (current US$),GDP per capita (current US$),"Life expectancy at birth, female (years)","Life expectancy at birth, male (years)","Life expectancy at birth, total (years)","Population, female","Population, male","Population, total",Code,Region
61,Africa Eastern and Southern,AFE,1960,NaN,19342484576.0675,147.836768786415,44.3005705955963,41.1779584288335,42.7160525263364,66138022,64698743,130836765,AFE,NaN
62,Africa Eastern and Southern,AFE,1961,NaN,19753490586.3592,147.238536787463,44.7611800269639,41.618931146301,43.1669350691766,67805115,66354671,134159786,AFE,NaN
63,Africa Eastern and Southern,AFE,1962,NaN,21526615650.1782,156.426780061126,45.2055846613132,42.0490272541985,43.6039902540244,69546443,68068201,137614644,AFE,NaN
64,Africa Eastern and Southern,AFE,1963,NaN,25772356399.4603,182.521138714036,45.6311615075452,42.4665451176718,44.0256167023783,71357834,69844202,141202036,AFE,NaN
65,Africa Eastern and Southern,AFE,1964,NaN,23563232194.7355,162.594548386348,46.0392208524744,42.8717934768247,44.4327209668265,73231854,71688332,144920186,AFE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16038,World,WLD,2016,1020.86754171683,76231927877306.2,10267.6388377948,74.5045392954167,70.009393883536,72.1811711478431,3680100905,3741597293,7424484741,NaN,NaN
16039,World,WLD,2017,1064.92368040809,81112442132495,10801.4397495631,74.6966437468876,70.2219423270687,72.3859201160944,3722149404,3784456574,7509410228,NaN,NaN
16040,World,WLD,2018,1111.08216727801,86139293063112.2,11345.3499795155,74.8774120695009,70.4039059966666,72.5686579434521,3763268911,3826391528,7592475615,NaN,NaN
16041,World,WLD,2019,1111.08216727801,87436705108244.6,11394.8611267777,75.0446861827101,70.5794911130659,72.7416894552853,3803346348,3867186770,7673345391,NaN,NaN
16042,World,WLD,2020,1111.08216727801,84577962952008.3,10909.2870463763,75.0446861827101,70.5794911130659,72.7416894552853,3842820324,3907216408,7752840547,NaN,NaN

In [22]:
df.loc[df['Region'].isna(), 'Country Name'].value_counts()

Africa Eastern and Southern                             61
Latin America & the Caribbean (IDA & IBRD countries)    61
Low & middle income                                     61
Low income                                              61
Lower middle income                                     61
Middle East & North Africa                              61
Middle East & North Africa (IDA & IBRD countries)       61
Middle East & North Africa (excluding high income)      61
Middle income                                           61
North America                                           61
Not classified                                          61
OECD members                                            61
Other small states                                      61
Pacific island small states                             61
Post-demographic dividend                               61
Pre-demographic dividend                                61
Small states                                            61
South Asia                                              61
South Asia (IDA & IBRD)                                 61
Sub-Saharan Africa                                      61
Sub-Saharan Africa (IDA & IBRD countries)               61
Sub-Saharan Africa (excluding high income)              61
Upper middle income                                     61
Least developed countries: UN classification            61
Latin America & Caribbean (excluding high income)       61
Africa Western and Central                              61
Latin America & Caribbean                               61
Arab World                                              61
Caribbean small states                                  61
Central Europe and the Baltics                          61
Early-demographic dividend                              61
East Asia & Pacific                                     61
East Asia & Pacific (IDA & IBRD countries)              61
East Asia & Pacific (excluding high income)             61
Euro area                                               61
Europe & Central Asia                                   61
Europe & Central Asia (IDA & IBRD countries)            61
Europe & Central Asia (excluding high income)           61
European Union                                          61
Fragile and conflict affected situations                61
Heavily indebted poor countries (HIPC)                  61
High income                                             61
IBRD only                                               61
IDA & IBRD total                                        61
IDA blend                                               61
IDA only                                                61
IDA total                                               61
Late-demographic dividend                               61
World                                                   61
Name: Country Name, dtype: int64

In [23]:
df = df.loc[~df['Region'].isna(), :]
df

,Country Name,Country Code,Year,Current health expenditure per capita (current US$),GDP (current US$),GDP per capita (current US$),"Life expectancy at birth, female (years)","Life expectancy at birth, male (years)","Life expectancy at birth, total (years)","Population, female","Population, male","Population, total",Code,Region
0,Afghanistan,AFG,1960,NaN,537777811.111111,59.7732337032148,33.314,31.718,32.446,4347394,4649573,8996967,AFG,South Asia
1,Afghanistan,AFG,1961,NaN,548888895.555556,59.8608999923829,33.84,32.224,32.962,4439156,4730250,9169406,AFG,South Asia
2,Afghanistan,AFG,1962,NaN,546666677.777778,58.4580086983139,34.359,32.724,33.471,4535392,4816050,9351442,AFG,South Asia
3,Afghanistan,AFG,1963,NaN,751111191.111111,78.7064287776753,34.866,33.216,33.971,4636170,4907030,9543200,AFG,South Asia
4,Afghanistan,AFG,1964,NaN,800000044.444444,82.0953065340517,35.364,33.7,34.463,4741527,5003245,9744772,AFG,South Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16221,Zimbabwe,ZWE,2016,113.40885925,20548678100,1464.58895715841,61.719,58.565,60.294,7356132,6674206,14030338,ZWE,Sub-Saharan Africa
16222,Zimbabwe,ZWE,2017,112.74193573,19015327919.1087,1335.66506432532,62.22,59.105,60.812,7459545,6777054,14236599,ZWE,Sub-Saharan Africa
16223,Zimbabwe,ZWE,2018,140.3203125,19523622341.6133,1352.16265310562,62.598,59.501,61.195,7559693,6879119,14438812,ZWE,Sub-Saharan Africa
16224,Zimbabwe,ZWE,2019,140.3203125,16932434838.6928,1156.15486360139,62.899,59.798,61.49,7662120,6983353,14645473,ZWE,Sub-Saharan Africa
16225,Zimbabwe,ZWE,2020,140.3203125,16768513442.6415,1128.21071129808,62.899,59.798,61.49,7770917,7092010,14862927,ZWE,Sub-Saharan Africa

In [26]:
df['GDP per capita (current US$)'] = df['GDP per capita (current US$)'].astype(float)
df['log10_gdp_per_capita'] = np.log10(df['GDP per capita (current US$)'])

In [24]:
df.to_csv('data.csv', index=False)