In [35]:
import pandas as pd
import numpy as np
from pathlib import Path

from worldbank_data import DataWrangler

In [36]:
data_wrangler = DataWrangler()
source_spreadsheet = '68fd98a4-a721-4a4b-ba8b-4fa738699aa2_Data.csv'
df = data_wrangler.load_raw_data_from_excel(source_spreadsheet)
df.tail(10)

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
2384,Upper middle income,UMC,GDP per capita (current US$),NY.GDP.PCAP.CD,209.363750126444,187.095095528264,193.629323302013,197.133815423216,221.888828236426,241.113353171067,...,7552.60462402576,8031.69722655089,8566.49974360319,8769.65480875065,8173.05543783961,8072.01562785564,8870.34929524304,9483.69330620773,9589.0378735037,9191.68073255036
2385,World,WLD,"Population, female",SP.POP.TOTL.FE.IN,1514480400,1534056144,1560188576,1592223119,1624483897,1657469182,...,3470668590,3511807054,3553523630,3595613466,3637743236,3680100905,3722149404,3763268911,3803346348,3842820324
2386,World,WLD,"Population, male",SP.POP.TOTL.MA.IN,1516273524,1536110355,1562906033,1595929055,1629120955,1662998829,...,3529430282,3571181663,3613335199,3655865370,3698540307,3741597293,3784456574,3826391528,3867186770,3907216408
2387,World,WLD,"Population, total",SP.POP.TOTL,3032156070,3071596055,3124561005,3189655687,3255145692,3322046795,...,7002880914,7085790438,7169675197,7254292848,7339076654,7424484741,7509410228,7592475615,7673345391,7752840547
2388,World,WLD,GDP (current US$),NY.GDP.MKTP.CD,1383415492120.43,1439080712715.16,1544343126489.99,1663682558251.79,1822519774865.51,1984628639611.45,...,73494092085870.2,75178612876726.5,77322543989117,79447626798478,75027409670667.4,76231927877306.2,81112442132495,86139293063112.2,87436705108244.6,84577962952008.3
2389,World,WLD,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,54.6063821767335,55.1038434293229,55.529074449163,56.0755677241139,56.7702835646224,57.4520054107824,...,73.1877595897484,73.4821233592516,73.7822392107594,74.0701323997809,74.2700355559589,74.5045392954167,74.6966437468876,74.8774120695009,75.0446861827101,..
2390,World,WLD,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,50.7358807527662,51.2223811045987,51.6293675486591,52.131045125112,52.7737708367235,53.4085953855773,...,68.7418812126855,69.0219311972142,69.3031699406469,69.5717383311002,69.7793498158386,70.009393883536,70.2219423270687,70.4039059966666,70.5794911130659,..
2391,World,WLD,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,52.5819387533423,53.0751281228905,53.4924434636988,54.0175389848539,54.6875302037427,55.3469339065861,...,70.8834849988416,71.1715476501828,71.462660334406,71.7419784549787,71.9474766813061,72.1811711478431,72.3859201160944,72.5686579434521,72.7416894552853,..
2392,World,WLD,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,..,..,..,..,..,..,...,988.756863691058,999.032975392342,1015.7745174111,1039.91496113911,999.103636167819,1020.86754171683,1064.92368040809,1111.08216727801,..,..
2393,World,WLD,GDP per capita (current US$),NY.GDP.PCAP.CD,456.248115262891,468.512358704395,494.259233223064,521.586880061198,559.888849013615,597.411403896689,...,10494.8367662432,10609.7708554229,10784.6648369052,10951.8085998392,10223.0039564685,10267.6388377948,10801.4397495631,11345.3499795155,11394.8611267777,10909.2870463763

In [37]:
df = data_wrangler.unpivot_data(df)
df

,Country Name,Country Code,Series Name,Series Code,Year,Metric
0,Afghanistan,AFG,"Population, female",SP.POP.TOTL.FE.IN,1960 [YR1960],4347394
1,Afghanistan,AFG,"Population, male",SP.POP.TOTL.MA.IN,1960 [YR1960],4649573
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,1960 [YR1960],8996967
3,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1960 [YR1960],537777811.111111
4,Afghanistan,AFG,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,1960 [YR1960],33.314
...,...,...,...,...,...,...
146029,World,WLD,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,2020 [YR2020],..
146030,World,WLD,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,2020 [YR2020],..
146031,World,WLD,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2020 [YR2020],..
146032,World,WLD,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,2020 [YR2020],..
146033,World,WLD,GDP per capita (current US$),NY.GDP.PCAP.CD,2020 [YR2020],10909.2870463763

In [38]:
df = data_wrangler.clean_years(df)
df

,Country Name,Country Code,Series Name,Series Code,Year,Metric
0,Afghanistan,AFG,"Population, female",SP.POP.TOTL.FE.IN,1960,4347394
1,Afghanistan,AFG,"Population, male",SP.POP.TOTL.MA.IN,1960,4649573
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,1960,8996967
3,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1960,537777811.111111
4,Afghanistan,AFG,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,1960,33.314
...,...,...,...,...,...,...
146029,World,WLD,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,2020,..
146030,World,WLD,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,2020,..
146031,World,WLD,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2020,..
146032,World,WLD,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,2020,..
146033,World,WLD,GDP per capita (current US$),NY.GDP.PCAP.CD,2020,10909.2870463763

In [39]:
df['Metric'] = df['Metric'].replace('..', np.nan)

In [40]:
# df.loc[(df['Country Name']== 'American Samoa') & (df['Series Name'] == 'Population, female')]
df.loc[(df['Country Name']== 'Afghanistan') & (df['Series Name'] == 'Life expectancy at birth, total (years)')].head(50)

,Country Name,Country Code,Series Name,Series Code,Year,Metric
6,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,32.446
2400,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1961,32.962
4794,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1962,33.471
7188,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1963,33.971
9582,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1964,34.463
11976,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1965,34.948
14370,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1966,35.43
16764,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1967,35.914
19158,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1968,36.403
21552,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1969,36.9
23946,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1970,37.409
26340,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1971,37.93
28734,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1972,38.461
31128,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1973,39.003
33522,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1974,39.558
35916,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1975,40.128
38310,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1976,40.715
40704,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1977,41.32
43098,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1978,41.944
45492,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1979,42.585
47886,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1980,43.244
50280,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1981,43.923
52674,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1982,44.617
55068,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1983,45.324
57462,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1984,46.04
59856,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1985,46.761
62250,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1986,47.486
64644,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1987,48.211
67038,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1988,48.93
69432,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1989,49.64
71826,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1990,50.331
74220,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1991,50.999
76614,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1992,51.641
79008,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1993,52.256
81402,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1994,52.842
83796,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1995,53.398
86190,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1996,53.924
88584,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1997,54.424
90978,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1998,54.906
93372,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1999,55.376
95766,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2000,55.841
98160,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2001,56.308
100554,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2002,56.784
102948,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2003,57.271
105342,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2004,57.772
107736,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2005,58.29
110130,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2006,58.826
112524,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2007,59.375
114918,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2008,59.93
117312,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2009,60.484

In [41]:
df['Metric'] = df.groupby(['Country Name', 'Series Name'])['Metric'].ffill()
df.loc[(df['Country Name']== 'Afghanistan') & (df['Series Name'] == 'GDP (current US$)')].head(50)

,Country Name,Country Code,Series Name,Series Code,Year,Metric
3,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1960,537777811.111111
2397,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1961,548888895.555556
4791,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1962,546666677.777778
7185,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1963,751111191.111111
9579,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1964,800000044.444444
11973,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1965,1006666637.77778
14367,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1966,1399999966.66667
16761,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1967,1673333417.77778
19155,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1968,1373333366.66667
21549,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1969,1408888922.22222
23943,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1970,1748886595.55556
26337,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1971,1831108971.11111
28731,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1972,1595555475.55556
31125,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1973,1733333264.44444
33519,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1974,2155555497.77778
35913,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1975,2366666615.55556
38307,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1976,2555555566.66667
40701,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1977,2953333417.77778
43095,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1978,3300000108.88889
45489,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1979,3697940409.61098
47883,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1980,3641723321.99546
50277,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1981,3478787909.09091
52671,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1982,3478787909.09091
55065,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1983,3478787909.09091
57459,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1984,3478787909.09091
59853,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1985,3478787909.09091
62247,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1986,3478787909.09091
64641,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1987,3478787909.09091
67035,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1988,3478787909.09091
69429,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1989,3478787909.09091
71823,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1990,3478787909.09091
74217,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1991,3478787909.09091
76611,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1992,3478787909.09091
79005,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1993,3478787909.09091
81399,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1994,3478787909.09091
83793,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1995,3478787909.09091
86187,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1996,3478787909.09091
88581,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1997,3478787909.09091
90975,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1998,3478787909.09091
93369,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1999,3478787909.09091
95763,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2000,3478787909.09091
98157,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2001,3478787909.09091
100551,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2002,4055179566.34981
102945,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2003,4515558808.10994
105339,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2004,5226778808.89209
107733,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2005,6209137624.77181
110127,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2006,6971285594.68013
112521,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2007,9747879531.86311
114915,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2008,10109225813.6696
117309,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,2009,12439087076.7667

In [42]:
df = df.pivot(index=["Country Name", "Country Code", "Year"], columns="Series Name", values="Metric").reset_index()
df

Series Name,Country Name,Country Code,Year,Current health expenditure per capita (current US$),GDP (current US$),GDP per capita (current US$),"Life expectancy at birth, female (years)","Life expectancy at birth, male (years)","Life expectancy at birth, total (years)","Population, female","Population, male","Population, total"
0,Afghanistan,AFG,1960,NaN,537777811.111111,59.7732337032148,33.314,31.718,32.446,4347394,4649573,8996967
1,Afghanistan,AFG,1961,NaN,548888895.555556,59.8608999923829,33.84,32.224,32.962,4439156,4730250,9169406
2,Afghanistan,AFG,1962,NaN,546666677.777778,58.4580086983139,34.359,32.724,33.471,4535392,4816050,9351442
3,Afghanistan,AFG,1963,NaN,751111191.111111,78.7064287776753,34.866,33.216,33.971,4636170,4907030,9543200
4,Afghanistan,AFG,1964,NaN,800000044.444444,82.0953065340517,35.364,33.7,34.463,4741527,5003245,9744772
...,...,...,...,...,...,...,...,...,...,...,...,...
16221,Zimbabwe,ZWE,2016,113.40885925,20548678100,1464.58895715841,61.719,58.565,60.294,7356132,6674206,14030338
16222,Zimbabwe,ZWE,2017,112.74193573,19015327919.1087,1335.66506432532,62.22,59.105,60.812,7459545,6777054,14236599
16223,Zimbabwe,ZWE,2018,140.3203125,19523622341.6133,1352.16265310562,62.598,59.501,61.195,7559693,6879119,14438812
16224,Zimbabwe,ZWE,2019,140.3203125,16932434838.6928,1156.15486360139,62.899,59.798,61.49,7662120,6983353,14645473
16225,Zimbabwe,ZWE,2020,140.3203125,16768513442.6415,1128.21071129808,62.899,59.798,61.49,7770917,7092010,14862927

In [43]:
df.to_csv('data.csv', index=False)